.css-8pj6jh {

  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  padding: 44px 48px;
  flex: 1 1 0%;
  background: rgb(247, 249, 252);
}
.css-vemis6 {
   box-sizing: border-box;
   display: flex;
   flex-flow: row wrap;
   margin-top: -24px;
   width: calc(100% + 24px);
   margin-left: -24px;
   -webkit-box-pack: justify;
   justify-content: space-between;
 }
.css-vemis6 > .MuiGrid-item {
  padding-left: 24px;
}


 .css-vemis6 > .MuiGrid-item {
   padding-top: 24px;
 }

 .css-1wxaqej {
   box-sizing: border-box;
   margin: 0px;
   flex-direction: row;
 }



.css-1fdeshr {
  margin: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.928571rem;
  line-height: 1.75;
}

.css-vemis6 > .MuiGrid-item {
  padding-left: 24px;
}


 .css-vemis6 > .MuiGrid-item {
   padding-top: 24px;
 }

 .css-1wxaqej {
   box-sizing: border-box;
   margin: 0px;
   flex-direction: row;
 }
.css-8275ry {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.754464rem;
  line-height: 1.75;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(55, 111, 208);
  padding: 4px;
  min-width: 0px;
}
.css-8275ry svg {
  width: 0.9em;
  height: 0.9em;
}


 .css-vnjz4i {
   user-select: none;
   width: 1em;
   height: 1em;
   display: inline-block;
   fill: currentcolor;
   flex-shrink: 0;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   font-size: 1.39286rem;
 }
.css-8275ry {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.754464rem;
  line-height: 1.75;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(55, 111, 208);
  padding: 4px;
  min-width: 0px;
}
.css-8275ry svg {
  width: 0.9em;
  height: 0.9em;
}


 .css-vnjz4i {
   user-select: none;
   width: 1em;
   height: 1em;
   display: inline-block;
   fill: currentcolor;
   flex-shrink: 0;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   font-size: 1.39286rem;
 }
.css-1h77wgb {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}
.css-1h77wgb > .MuiGrid-item {
  padding-left: 24px;
}


 .css-1h77wgb > .MuiGrid-item {
   padding-top: 24px;
 }
.css-ksbg9m {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
  background-image: none;
  position: relative;
  margin-bottom: 24px;
}
.css-1ky8f7f:last-child {
  padding-bottom: 16px;
}




 .css-1ky8f7f {
   padding: 16px;
   position: relative;
 }
.css-1n9lryw {
  margin: 0px 0px 16px;
  font-size: 1.1rem !important;
  font-weight: 500;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.css-1lqiupw {
  margin: 0px 0px 12px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.css-pelz90 {
  font-weight: 400;
}
.css-1v6uh61 {
  margin: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.57;
  color: rgba(0, 0, 0, 0.6);
}
.css-1v6uh61 span {
  color: rgb(76, 175, 80);
  font-weight: 600;
  background: rgba(76, 175, 80, 0.1);
  padding: 2px;
  border-radius: 3px;
  margin-right: 8px;
}
.css-67falt {
  max-width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: default;
  outline: 0px;
  text-decoration: none;
  border: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 20px;
  padding: 4px 0px;
  font-size: 85%;
  background-color: rgb(71, 130, 218);
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}
.css-67falt span {
  padding-left: 8px;
  padding-right: 8px;
}

 .css-14vsv3w {
   overflow: hidden;
   text-overflow: ellipsis;
   padding-left: 12px;
   padding-right: 12px;
   white-space: nowrap;
 }

.css-1h77wgb > .MuiGrid-item {
  padding-left: 24px;
}


 .css-1h77wgb > .MuiGrid-item {
   padding-top: 24px;
 }


.css-1oqrle9 {
  flex-basis: 25%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 25%;

}

.css-e7u4fx {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: block;
}
.css-faujvq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
}

      .css-ksbg9m {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
        background-image: none;
        position: relative;
        margin-bottom: 24px;
      }
      .css-1ky8f7f:last-child {
        padding-bottom: 16px !important;
      }
      .css-a055y2 {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        text-transform: none;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.75;
        min-width: 64px;
        padding: 6px 18px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: rgb(255, 255, 255);
        background-color: rgb(71, 130, 218);
      }

css-1h77wgb > .MuiGrid-item {
  padding-left: 24px !important;
}
     .css-1ky8f7f {
       padding: 16px;
       position: relative;
     }
      .css-1n9lryw {
        margin: 0px 0px 16px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      .css-1lqiupw {
        margin: 0px 0px 12px;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      .css-pelz90 {
        font-weight: 400;
      }
      .css-ncldmw {
        margin: 0px;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.57;
        color: rgba(0, 0, 0, 0.6);
      }
      .css-ncldmw span {
        color: rgb(244, 67, 54);
        font-weight: 600;
        background: rgba(244, 67, 54, 0.1);
        padding: 2px;
        border-radius: 3px;
        margin-right: 8px;
      }

      .css-1h77wgb > .MuiGrid-item {
        padding-left: 24px;
      }

     .css-1h77wgb > .MuiGrid-item {
       padding-top: 24px;
     }






            .css-99q5wh {
              transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              overflow: hidden;
              border-radius: 6px;
              box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
              position: relative;
              margin-bottom: 24px;
              background: rgba(55, 111, 208, 0.125);
              color: rgb(55, 111, 208);
            }
            .css-1ky8f7f {
              padding: 16px;
              position: relative;
            }
            .css-1n9lryw {
              margin: 0px 0px 16px;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.25;
              font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            .css-1lqiupw {
              margin: 0px 0px 12px;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.25;
              font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            .css-pelz90 {
              font-weight: 400;
            }
            .css-18c5mh0 {
              margin: 0px;
              font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              font-weight: 500;
              font-size: 0.8125rem;
              line-height: 1.57;
              color: rgba(55, 111, 208, 0.85);
            }
            .css-18c5mh0 span {
              color: rgb(244, 67, 54);
              font-weight: 600;
              background: rgba(244, 67, 54, 0.1);
              padding: 2px;
              border-radius: 3px;
              margin-right: 8px;
            }
            .css-11qjyha {
              height: 100px;
              position: absolute;
              right: 4px;
              bottom: 4px;
              display: none;
            }
            .css-1h77wgb {
              box-sizing: border-box;
              display: flex;
              flex-flow: row wrap;
              margin-top: -24px;
              width: calc(100% + 24px);
              margin-left: -24px;
            }
            .css-1h77wgb > .MuiGrid-item {
              padding-left: 24px;
            }


           .css-1h77wgb > .MuiGrid-item {
             padding-top: 24px;
           }



.css-1h77wgb > .MuiGrid-item {
  padding-left: 24px;
}


 .css-1h77wgb > .MuiGrid-item {
   padding-top: 24px;
 }

.css-76gcb4 {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;

}

.css-faujvq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
}

.css-1h77wgb > .MuiGrid-item {
  padding-left: 24px;
}


 .css-1h77wgb > .MuiGrid-item {
   padding-top: 24px;
 }

.css-5hm1fy {
  flex-basis: 66.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 66.6667%;
}




.css-1qw96cp:last-child {
  padding-bottom: 24px;
}

 .css-1qw96cp {
   padding: 16px;
 }

.css-1qw96cp:last-child {
  padding-bottom: 24px;
}

.css-1hukfcj {
  height: 378px;
}
.css-faujvq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
}
.css-11qjisw {
  flex: 1 1 auto;
}
.css-sqp4u0 {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-bottom: -4px;
  margin-top: -4px;
  margin-right: -4px;
}
 .css-1qw96cp {
   padding: 16px;
 }

            .css-v7shc6 {
              background-color: rgb(255, 255, 255);
              color: rgba(0, 0, 0, 0.87);
              transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              overflow: hidden;
              border-radius: 6px;
              box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
              background-image: none;
              margin-bottom: 24px;
            }
            .css-faujvq {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              padding: 16px;
            }
            .css-11qjisw {
              flex: 1 1 auto;
            }
            .css-e7u4fx {
              margin: 0px;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.25;
              font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              display: block;
            }
            .css-sqp4u0 {
              flex: 0 0 auto;
              align-self: flex-start;
              margin-bottom: -4px;
              margin-top: -4px;
              margin-right: -4px;
            }
            .MuiCardHeader-action .MuiIconButton-root {
              padding: 4px;
              width: 28px;
              height: 28px;
            }

           .css-19so0mk {
             display: inline-flex;
             -webkit-box-align: center;
             align-items: center;
             -webkit-box-pack: center;
             justify-content: center;
             position: relative;
             box-sizing: border-box;
             -webkit-tap-highlight-color: transparent;
             background-color: transparent;
             outline: 0px;
             border: 0px;
             margin: 0px;
             cursor: pointer;
             user-select: none;
             vertical-align: middle;
             appearance: none;
             text-decoration: none;
             text-align: center;
             flex: 0 0 auto;
             border-radius: 50%;
             overflow: visible;
             color: rgba(0, 0, 0, 0.54);
             transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
             padding: 12px;
             font-size: 1.625rem;
           }
            svg {
              touch-action: none;
            }

            svg {
              touch-action: none;
            }
            .css-1qw96cp:last-child {
              padding-bottom: 24px;
            }


           .css-1qw96cp {
             padding: 16px;
           }
      .css-vemis6 > .MuiGrid-item {
        padding-left: 24px;
      }

     .css-vemis6 > .MuiGrid-item {
       padding-top: 24px;
     }

     .css-1wxaqej {
       box-sizing: border-box;
       margin: 0px;
       flex-direction: row;
     }
      .css-8275ry {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px 8px 0px 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        text-transform: none;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.754464rem;
        line-height: 1.75;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: rgb(55, 111, 208);
        padding: 4px;
        min-width: 0px;
      }
      .css-8275ry svg {
        width: 0.9em;
        height: 0.9em;
      }

     .css-vnjz4i {
       user-select: none;
       width: 1em;
       height: 1em;
       display: inline-block;
       fill: currentcolor;
       flex-shrink: 0;
       transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
       font-size: 1.39286rem;
     }
      .css-rimkgt {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
      }
      .css-1wbz3t9 {
        display: table-header-group;
      }
      .css-147g8dg {
        color: inherit;
        display: table-row;
        vertical-align: middle;
        outline: 0px;
        height: 42px;
      }
      .css-1kwe0wa {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.39286rem;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: left;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
      }
      .css-1wpr1jx {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.39286rem;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: right;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
        flex-direction: row-reverse;
      }
      .css-1xnox0e {
        display: table-row-group;
      }
      .css-147g8dg {
        color: inherit;
        display: table-row;
        vertical-align: middle;
        outline: 0px;
        height: 42px;
      }
      .css-ag9w1l {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: left;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
      }
      .css-1fs5tbm {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: right;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
        flex-direction: row-reverse;
      }
      .css-1fs5tbm {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: right;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
        flex-direction: row-reverse;
      }
      .css-1fs5tbm {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: right;
        padding: 0px 16px;
        color: rgba(0, 0, 0, 0.87);
        flex-direction: row-reverse;
      }
      .css-pr3u5u {
        color: rgb(239, 83, 80);
        font-weight: 500;
      }
      .css-1tlaagv {
        color: rgb(102, 187, 106);
        font-weight: 500;
      }
      .css-1tlaagv {
        color: rgb(102, 187, 106);
        font-weight: 500;
      }
      .css-1w2p4ls {
        height: 168px;
        position: relative;
      }

      .css-tlozd6 {
        margin: 0px;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
     .css-1j6x6ba {
       width: 100%;
       position: absolute;
       top: 50%;
       left: 0px;
       margin-top: -22px;
       text-align: center;
       z-index: 0;
     }
      .css-4cgao2 {
        margin: 0px;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.696429rem;
        line-height: 1.66;
      }

      .css-1h77wgb > .MuiGrid-item {
        padding-left: 24px;
      }


     .css-1h77wgb > .MuiGrid-item {
       padding-top: 24px;
     }

      .css-5hm1fy {
        flex-basis: 66.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 66.6667%;
      }





      .css-v7shc6 {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
        background-image: none;
        margin-bottom: 24px;
      }
      .css-faujvq {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 16px;
      }
      .css-11qjisw {
        flex: 1 1 auto;
      }
      .css-e7u4fx {
        margin: 0px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        display: block;
      }
      .css-sqp4u0 {
        flex: 0 0 auto;
        align-self: flex-start;
        margin-bottom: -4px;
        margin-top: -4px;
        margin-right: -4px;
      }

      .css-8pj6jh .MuiPaper-root .MuiPaper-root {
        box-shadow: none;
      }

     .css-1y763jq {
       background-color: rgb(255, 255, 255);
       color: rgba(0, 0, 0, 0.87);
       transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
       border-radius: 4px;
       background-image: none;
     }
      .css-1aa8qos {
        overflow-y: auto;
        max-width: calc(100vw - 48px);
      }
      .css-rimkgt {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
      }
      .css-1wbz3t9 {
        display: table-header-group;
      }
      .css-15ghfzd {
        color: inherit;
        display: table-row;
        vertical-align: middle;
        outline: 0px;
      }
      .css-jox6nr {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.39286rem;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: left;
        padding: 16px;
        color: rgba(0, 0, 0, 0.87);
      }
      .css-1xnox0e {
        display: table-row-group;
      }
      .css-15ghfzd {
        color: inherit;
        display: table-row;
        vertical-align: middle;
        outline: 0px;
      }
      .css-1vd1fqo {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: left;
        padding: 16px;
        color: rgba(0, 0, 0, 0.87);
      }
      .css-1vd1fqo {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid rgb(224, 224, 224);
        text-align: left;
        padding: 16px;
        color: rgba(0, 0, 0, 0.87);
      }
      .css-rn4jlb {
        max-width: 100%;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        cursor: default;
        outline: 0px;
        text-decoration: none;
        border: 0px;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 6px;
        height: 20px;
        padding: 4px 0px;
        font-size: 90%;
        background-color: rgb(76, 175, 80);
        color: rgb(255, 255, 255);
      }
      .css-1tlaagv {
        color: rgb(102, 187, 106);
        font-weight: 500;
      }

      .css-14vsv3w {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 12px;
        padding-right: 12px;
        white-space: nowrap;
      }

      .css-1hy1unx {
        max-width: 100%;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        cursor: default;
        outline: 0px;
        text-decoration: none;
        border: 0px;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 6px;
        height: 20px;
        padding: 4px 0px;
        font-size: 90%;
        background-color: rgb(239, 83, 80);
        color: rgb(255, 255, 255);
      }
      .css-14vsv3w {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 12px;
        padding-right: 12px;
        white-space: nowrap;
      }
      .css-13c7frt {
        max-width: 100%;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        cursor: default;
        outline: 0px;
        text-decoration: none;
        border: 0px;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 6px;
        height: 20px;
        padding: 4px 0px;
        font-size: 90%;
        background-color: rgb(255, 152, 0);
        color: rgb(255, 255, 255);
      }
.css-1fdeshr {
  margin: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
}
.css-rzwqbd {
  margin: 0px 0px 0.35em;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
