<div class="col-lg-11 " style="margin-left: 45px">


  <div class="mt-5" style="display: flex; justify-content: space-between; height: 35px">
    <h4 class="p-0" style="font-weight: bold; font-size: 23px; font-family: Arial"> Détail de l'équipement  #{{equipement.id}} </h4>

    <div class="">
      <mat-icon class="">arrow_back_ios</mat-icon>
      <a href="#" (click)="retour()" class="mb-2 btn ">

        Retour</a>
    </div>
  </div>
  <div class="" style="display: flex">

    <a class="text-decoration-none" href="/">Dashboard  </a>
    <span class="mx-2 "> / </span>

    <a class="text-decoration-none" style="" href="/bien">Bien  </a>
    <span class="mx-2 "> / </span>
    <a class="text-decoration-none" >Détail</a>
    <span class="mx-2 "> / </span>
    <a class="text-decoration-none" style="" href="/">Equipements  </a>
    <span class="mx-2 "> / </span>
    <a class="text-decoration-none" >Détail</a>

  </div>
  <mat-divider class="mb-4 " style="margin-top: 11px"></mat-divider>





  <mat-card class="m-auto">

    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="start" class="mt-3">
        <mat-tab label="Equipement">
      <mat-list>

        <mat-list-item class="mt-3">
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Nom :</strong>
            <p click="col-md-4 ">{{ equipement.nom }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Code Equipement :</strong>
            <p click="col-md-4 ">{{ equipement.codeEquipement }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2"  >Classe :</strong>
            <p click="col-md-4 " >{{ equipement.classe }}</p>
          </div>

        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Bar Code :</strong>
            <p click="col-md-4 ">{{ equipement.barCode }}</p>
          </div>
        </mat-list-item>


        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Criticité :</strong>
            <p click="col-md-4 ">{{ equipement.criticite }}</p>
          </div>
        </mat-list-item>


        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Document URL :</strong>
            <p click="col-md-4 ">{{ equipement.docUrl }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">N° de série :</strong>
            <p click="col-md-4 ">{{ equipement.noSerie }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Photo :</strong>
            <p click="col-md-4 ">{{ equipement.photo }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Statut :</strong>
            <p click="col-md-4 ">{{ equipement.statut }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Tag QR :</strong>
            <p click="col-md-4 ">{{ equipement.tagQr }}</p>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Type :</strong>
            <p click="col-md-4 ">{{ equipement.type }}</p>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class="col-lg-12 col-md-10" style=" display: flex">
            <strong class="col-md-2">Pannes:</strong>
            <p click="col-md-4 ">{{ pannes.length }}</p>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>


      </mat-list>

        </mat-tab>

        <mat-tab label="Pannes" >
          <a  mat-icon-button routerLinkActive="active" class="nav-link  mt-2"      (click)="openCreate(contentCreate,pannes.id ,true)"  >
            <mat-icon aria-hidden="false" aria-label="Example add icon" class=" mb-1"

            >add_circle</mat-icon>
            Ajouter  Panne
          </a>


          <table  mat-table [dataSource]="pannes" class="mat-elevation-z0  css-rimkgt">
            <!-- Position Column -->
            <ng-container matColumnDef="code">
              <th class="css-123ozm7"  mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let element">{{element.code}}</td>
            </ng-container>

            <!-- type Column -->
            <ng-container matColumnDef="type">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element">{{element.type}}</td>
            </ng-container>

            <!-- criticite Column -->
            <ng-container matColumnDef="description">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Description </th>
              <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Date  </th>
              <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
            </ng-container>

            <!-- Heure Column -->
            <ng-container matColumnDef="heure">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Heure </th>
              <td mat-cell *matCellDef="let element">{{element.heure}}</td>
            </ng-container>

            <!-- frequence Column -->
            <ng-container matColumnDef="frequence">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Fréquence</th>
              <td mat-cell *matCellDef="let element">{{element.frequence}}</td>
            </ng-container>

            <!-- priorité Column -->
            <ng-container matColumnDef="priorite">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Priorité</th>
              <td mat-cell *matCellDef="let element">{{element.priorite}}</td>
            </ng-container>


            <ng-container matColumnDef="interventions">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>pannes</th>
              <td mat-cell *matCellDef="let element">{{pannes.length}}</td>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th class="css-123ozm7" mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button mat-icon-button   >

                           <mat-icon aria-hidden="false" (click)="openUpdatePanne(contentCreate,equipement.id, element.id,false, element)"  aria-label="Example add icon"  style="color: #606875">edit</mat-icon>

                  </button>

                       <button mat-icon-button  (click)="openDelete(contentDelete,element.id)"  >

                    <mat-icon aria-hidden="false" aria-label="Example add icon"   style="color: #233044">delete</mat-icon>

                  </button>

                  <a mat-icon-button routerLinkActive="active" [routerLink]="['detail-pannes/', element.id]" class="m-2 col-lg-3 col-md-3 col-sm-2" >

                    <mat-icon aria-hidden="false"   aria-label="Example add icon"  style="color: #233044">remove_red_eye</mat-icon>

                  </a>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>





    </mat-card-content>
    <mat-card-actions class="container bg-light ">




    </mat-card-actions>
  </mat-card>

</div>


<ng-template #contentCreate let-modal >

  <div class="col-lg-11 " style="margin-left: 45px">
    <div class="mt-5" style="display: flex; justify-content: space-between">
      <h4 style="font-weight: bold; font-size: 23px; font-family: Arial"> Ajouter une Panne </h4>

    </div>

    <div class="" style="display: flex">

      <a class="text-decoration-none" href="/">Dashboard  </a>
      <span class="mx-2 "> / </span>

      <a class="text-decoration-none" style="" href="/">Panne  </a>
      <span class="mx-2 "> / </span>
      <p class="">Ajouter</p>

    </div>
    <mat-divider class="mb-4 mt-3" ></mat-divider>

    <form (ngSubmit)='onSubmit(id)' [formGroup]='PanneForm' novalidate class="form">
      <div class=" col-lg-12" >
        <mat-card class="m-0 col-lg-12" >

          <div class="">
            <h4 class="m-auto p-auto" style="font-weight: bold">Ajouter une panne   </h4>
            <p style="width: 100%">      Merci de remplir les champs du formualire   </p>
          </div>


          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label> Code de Panne  </mat-label>
            <input matInput placeholder="code" id = "code"
                   formControlName='code'   type="text" required >

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label> Fréquence  </mat-label>
            <input matInput placeholder="frequence" id = "frequence"
                   formControlName='frequence' required >

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Type  </mat-label>
            <input matInput placeholder="type" id = "type"
                   formControlName= "type" required>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Description </mat-label>
            <input matInput placeholder="Description" id = "description"
                   formControlName= "description" required>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Date" id = "date"
                   formControlName= "date"   type="date" required>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Heure</mat-label>
            <input matInput placeholder="Heure" id = "heure"
                   formControlName= "heure"
                   type="time"
                   required>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-12">
            <mat-label>Priorité</mat-label>
            <input matInput placeholder="Priorité" id = "priorite"
                   formControlName= "priorite"
                   type="text"
                   required>

          </mat-form-field>









          <mat-dialog-actions align="start" class="col-lg-12 "  >

            <button class = "btn btn-primary css-1m0olfb " type ="submit" (click)="modal.close()" [disabled]='!PanneForm.valid'>Enregistrer</button>
            <button type="button" mat-button mat-dialog-close  class=" css-1m0olfb"  (click)="modal.close('Save click')">Annuler</button>
          </mat-dialog-actions>
        </mat-card>
      </div>
    </form>
    <!--
     <form (ngSubmit)='onSubmit(equipementid)' [formGroup]='EQUIPEMENTForm' novalidate class="form">
       <input formControlName='nom' type="text" class="form-control" placeholder="nom" />
       <div class="alert  alert-danger" >
         Email is required
       </div>

     </form>
 -->

  </div>

</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation de la suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Voulez-vous vraiment supprimer cette ligne ?</h2>
    <div class=" text-center">
      <button data-dismiss="modal" class="btn btn-danger col-2 m-auto   "  (click)="deletePanne()">Oui</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>



