
<div class="col-lg-11 " style="margin-left: 45px">
  <div class="mt-5" style="display: flex; justify-content: space-between">
    <h4  style="font-weight: bold; font-size: 23px; font-family: Arial"> Formik </h4>


  </div>
  <div class="" style="display: flex">

      <a class="text-decoration-none" href="/">Dashboard  </a>
    <span class="mx-2 "> / </span>

      <a class="text-decoration-none" style="" href="/">Employee  </a>
    <span class="mx-2 "> / </span>
    <p class="">Ajouter</p>

  </div>
  <mat-divider class="mb-4 mt-3"></mat-divider>

  <form (ngSubmit) = "onSubmit()" class="example-form ">

<div class=" col-lg-12" >

  <mat-card class="m-0 col-lg-12" >
      <div class="">
        <h4 class="m-auto p-auto" style="font-weight: bold">Ajouter un Employé   </h4>
        <p style="width: 100%">      Merci de remplir les champs du formulaire   </p>
      </div>

    <mat-form-field appearance="outline" class="col-lg-12">
      <mat-label  > Nom  </mat-label>
      <input matInput placeholder="Nom" id = "nom"
             [(ngModel)] = "employe.nom" name = "nom" required >

    </mat-form-field>

    <mat-form-field  appearance="outline" class="col-lg-12" >
      <mat-label class="m-0 p-0"> Prénom  </mat-label>
      <input  matInput placeholder="préenom" id = "prenom"
              [(ngModel)] = "employe.prenom" name = "prenom"required >

    </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label  > Adresse  </mat-label>
        <input matInput placeholder="Adresse" id = "adresse"
               [(ngModel)] = "employe.adresse" name = "adresse" required >

      </mat-form-field>








      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>CIN  </mat-label>
        <input matInput placeholder="CIN" id = "cin"
               [(ngModel)] = "employe.cin" name = "cin" required>

      </mat-form-field>



      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Label </mat-label>
        <input matInput placeholder="Label" id = "label"
               [(ngModel)] = "employe.label" name = "label" required>

      </mat-form-field>





      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" id = "email"
               [(ngModel)] = "employe.email" name = "email" required>

      </mat-form-field>




      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Telephone" id = "telephone"
               [(ngModel)] = "employe.telephone" name = "telephone"
        type="number"
        required>

      </mat-form-field>




  <mat-dialog-actions align="start" class="col-lg-12 " >

    <button class = "btn btn-primary  css-1m0olfb" type ="submit">Enregistrer</button>
    <button mat-button mat-dialog-close class="css-1m0olfb" (click)="annuler()">
      Annuler</button>
  </mat-dialog-actions>
  </mat-card>
</div>
  </form>
</div>


