<div class="col-lg-11 " style="margin-left: 45px">

  <div class="mt-5" style="display: flex; justify-content: space-between; height: 35px">
    <h4 class="p-0" style="font-weight: bold; font-size: 23px; font-family: Arial"> Détail de l'équipe  #
    </h4>

    <div class="">
      <mat-icon class="">arrow_back_ios</mat-icon>
      <a href="#" routerLink="/equipes" class="mb-2 btn ">

        Retour</a>
    </div>
  </div>
  <div class="" style="display: flex">

    <a class="text-decoration-none" href="/">Dashboard  </a>
    <span class="mx-2 "> / </span>

    <a class="text-decoration-none" style="" href="/">Equipe  </a>
    <span class="mx-2 "> / </span>
    <p class="">Détail</p>

  </div>
  <mat-divider class="mb-4 " style="margin-top: 11px"></mat-divider>








</div>



