<div class="col-lg-11 " style="margin-left: 45px">
  <div class="mt-5" style="display: flex; justify-content: space-between">
    <h4  style="font-weight: bold; font-size: 23px; font-family: Arial"> Ajouter d'une équipe </h4>

  </div>
  <div class="" style="display: flex">

    <a class="text-decoration-none" href="/">Dashboard  </a>
    <span class="mx-2 "> / </span>

    <a class="text-decoration-none" style="" href="/">Equipe  </a>
    <span class="mx-2 "> / </span>
    <p class="">Ajouter</p>

  </div>
  <mat-divider class="mb-4 mt-3"></mat-divider>


  <form (ngSubmit) = "onSubmit()" class="example-form ">

<div class="col-lg-12">


  <mat-card class="m-0 col-lg-12" >
    <div class="" >
      <h4 class="m-auto p-auto" style="font-weight: bold">Ajouter une équipe   </h4>
      <p style="width: 100%">     Merci de remplir les champs du formulaire   </p>
    </div>


      <mat-form-field appearance="outline" class="col-12">
        <mat-label> Disponibilité  </mat-label>
        <input matInput placeholder="disponibilite" id = "disponibilite"
               [(ngModel)] = "equipe.disponibilite" name = "disponibilite" type="text" required >

      </mat-form-field>



      <mat-form-field appearance="outline" class="col-12">
        <mat-label> Nom Equipe  </mat-label>
        <input matInput placeholder="nomEquipe" id = "nomEquipe"
               [(ngModel)] = "equipe.nomEquipe" name = "nomEquipe" required >

      </mat-form-field>


      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Date de début  </mat-label>
        <input matInput placeholder="Date de début" id = "dateDebut"
               [(ngModel)] = "equipe.dateDeDebut" name = "dateDebut" required type="date">

      </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Date de fin  </mat-label>
      <input matInput placeholder="Date de fin" id = "dateFin"
             [(ngModel)] = "equipe.dateDeFin" name = "dateFin" required type="date">

    </mat-form-field>

    <mat-dialog-actions align="start" class="col-lg-12 "  >

      <button class = "btn btn-primary css-1m0olfb" type ="submit">Enregistrer</button>

      <button mat-button mat-dialog-close class="css-1m0olfb" (click)="annuler()">

        Annuler</button>
    </mat-dialog-actions>
  </mat-card>
</div>
  </form>
</div>
